body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  
    background: linear-gradient(to right, #004e92, #000428); 
    text-align: right;
    font-family: vazir-medium;
}

.container {
    margin-top: 30px;
}

.content {
    padding:20px;
}

.main-content{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.budget p{
    margin-bottom: 0;
    font-weight: bold;
}

.budget p span {
    font-weight: normal;
}

#expenses {
    margin-bottom: 30px;
    height: 30vh;
    overflow: scroll;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 42px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px -11px rgba(0,0,0,0.75);
    padding: 10px;
}

#expenses::-webkit-scrollbar {
    display: none;
}

.list-group {
    padding: 0;
}

.badge {
    padding: 5px 10px;
}

h1{
    font-weight: 100;
    color: white;
}

h2 {
    font-weight: 100;
    color:#004e92;
    font-size: 22px;
    margin-bottom:30px;
}

@font-face {
    font-family: Vazir;
    src: url('Vazir-Bold.eot');
    src: url('Vazir-Bold.eot?#iefix') format('embedded-opentype'),
        url('Vazir-Bold.woff2') format('woff2'),
        url('Vazir-Bold.woff') format('woff'),
        url('Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir-bold;
    src: url('Vazir-Black.eot');
    src: url('Vazir-Black.eot?#iefix') format('embedded-opentype'),
        url('Vazir-Black.woff2') format('woff2'),
        url('Vazir-Black.woff') format('woff'),
        url('Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir-medium;
    src: url('Vazir-Medium.eot');
    src: url('Vazir-Medium.eot?#iefix') format('embedded-opentype'),
        url('Vazir-Medium.woff2') format('woff2'),
        url('Vazir-Medium.woff') format('woff'),
        url('Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Light.eot');
    src: url('Vazir-Light.eot?#iefix') format('embedded-opentype'),
        url('Vazir-Light.woff2') format('woff2'),
        url('Vazir-Light.woff') format('woff'),
        url('Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Thin.eot');
    src: url('Vazir-Thin.eot?#iefix') format('embedded-opentype'),
        url('Vazir-Thin.woff2') format('woff2'),
        url('Vazir-Thin.woff') format('woff'),
        url('Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}